body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
h1{
    color: rgb(166, 227, 252);
    font-weight: 700;
    font-size: 50px;
}
h2{
    font-size: 40px;
    color: rgb(99, 97, 97);
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
    color: gray;
}
.color-text{
    color: rgb(236,146,146);
}
.top-section{
    display: flex;
    padding: 5%;
    background-image: url(images/top-banner-background.jpg);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    height: auto;
    padding-left: 10px;
}

.half-width img{
    width: 90%;
    
    
}

.button-link{
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 30px;
    background-image: linear-gradient(rgb(253, 177, 177), rgb(192, 65, 65));
}
.about-us-section{
    
    display: flex;
    padding: 10%;
    background-image: url(images/about-me-bg.png);
    background-repeat: no-repeat;
}

#recipie-text{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    
}
#recipie-area, #users-section{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipie-item{
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 50px  rgb(199, 197, 197);
}
    

.recipie-item img{
    width: 100%;
}

#users-section{
    box-shadow: 5px 5px 50px  rgb(199, 197, 197);
    border-radius: 20px;
    margin: 100px;
}

#users-section div{
    padding: 10px 100px ;
    text-align: center;
}

#users-section div h1{
    color: rgb(22, 15, 15);
}
footer{
    color: rgb(22, 15, 15);
    text-align: center;
    background-color:  rgb(22, 15, 15);
    padding: 20px 0;
}